@import "../../index.scss";

.hero {
  height: 395px;
  background-size: cover !important;
  & > div {
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
  }
  h1 {
    margin: 0;
    color: #ffffff;
    font-family: 'Padauk', sans-serif;
    font-size: 70px;
    width: 100%;
    margin-bottom: 60px;
  }
}
