@import "../../index.scss";

.hero {
  padding: 0 $left-right-padding;
  height: 300px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h1 {
    color: #ffffff;
    font-family: 'Padauk', sans-serif;
  }
}
