@import "../../index.scss";

$border-radius: 15px;

.largeInput {
  display: flex;
  height: 58px;
  border-radius: $border-radius;
  position: relative;
  width: 500px;
  div:first-of-type {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    width: 100%;
    @include box-shadow(inset 0px 0px 8px 3px #000);
    height: 100%;
    border-radius: $border-radius;
  }
  input {
    border-radius: $border-radius 0 0 $border-radius;
    width: 100%;
  }
  button {
    border-radius: 0 $border-radius $border-radius 0;
    color: #ffffff;
    background: $red;
    white-space: nowrap;
    font-family: 'Padauk', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 0px 24px 0px 18px;
  }
  *:not(div) {
    outline: none;
    border: none;
  }
}
