@import "../../index.scss";

$border-radius: 15px;

.largeInput {
  $font-size: 22px;
  display: flex;
  height: 58px;
  border-radius: $border-radius;
  position: relative;
  max-width: 600px;
  div:first-of-type {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    width: 100%;
    @include box-shadow(inset 0px 3px 14px 1px #000000);
    height: 100%;
    border-radius: $border-radius;
  }
  input {
    border-radius: $border-radius 0 0 $border-radius;
    width: 100%;
    text-overflow: ellipsis;
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    font-size: $font-size;
    padding-left: 16px;
  }
  *:not(div) {
    outline: none;
    border: none;
  }
  a {
    border-radius: 0 $border-radius $border-radius 0;
    color: #ffffff;
    background: $red;
    border-bottom: #ffffff solid 3px;
    &, span {
      white-space: nowrap;
      font-family: 'Padauk', sans-serif;
      font-size: $font-size;
      font-weight: 400;
    }
    padding: 0px 24px 0px 18px;
    display: flex;
    align-items: center;
  }
  @include mobile {
    a, span, input {
      font-size: 17px !important;
    }
  }
}
