@import "../../index.scss";

#sports > div:last-child {
  display: flex;
  max-width: $max-width;
  margin: auto;
  padding: 60px 0;
  & > *:first-child {
    width: 100%;
    & > div:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & > div:first-child {
        margin-right: 20vw;
        a {
          background: linear-gradient(#aeb0af, #717372, #8d8b8c);
          color: #ffffff;
          font-family: 'Padauk', sans-serif;
          font-weight: 400;
          border-radius: 10px;
          padding: 3px 22px;
          font-size: 18px;
          box-shadow: 2px 3px 6px -2px #000000;
          margin-right: 14px;
          white-space: nowrap;
          //linear-gradient(#fbfbfb, #f9f9f9, #d5d5d5)
        }
      }
      & > div:last-child {
        display: flex;
        flex-direction: column;
        width: 100%;
        span {
          font-size: 18px;
          font-family: 'Padauk', sans-serif;
          font-weight: 400;
        }
        label {
          display: flex;
          justify-content: space-between;
          margin-bottom: 9px;
        }
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .rangeslider {
            height: 6px;
            position: relative;
            background: linear-gradient(#929292, #b3b3b3);
            width: 100%;
            touch-action: none;
            margin: 0 11px;
            &, .rangeslider__fill {
              @include box-shadow((inset 0px 0px 1px 0px #000000, 0px 0px 2px 0.5px #868686));
              border-radius: 20px;
            }
          }
          .rangeslider__fill {
            height: 100%;
            background-color: $red;
          }
          .rangeslider__handle {
            $width-height: 14px;
            left: 71px;
            width: $width-height;
            height: $width-height;
            border-radius: 100%;
            top: 50%;
            background: linear-gradient(#fbfbfb, #f9f9f9, #d5d5d5);
            position: absolute;
            cursor: pointer;
            transform: translate3d(-50%, -50%, 0);
            outline: none;
            @include box-shadow(0px 1px 3px -1px #000000);
          }
        }
        .rangeslider__handle-tooltip {
          display: none;
        }
      }
    }
    & > div:last-child {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      & > div {
        width: 100%;
        &:first-of-type {
          margin-right: 23px;
        }
        & > div {
          $color: #122c47;
          display: flex;
          justify-content: space-between;
          border-bottom: 0.5px solid $color;
          padding: 8px 10px;
          span {
            font-family: 'Padauk', sans-serif;
            color: $color;
          }
          span:last-child {
            font-weight: 400; 
            font-size: 16px;
          }
          span:first-child {
            font-weight: 700;
            font-size: 20px;
          }
        }
      }
    }
  }
  & > *:last-child {
    background: $grey;
    color: #ffffff;
    text-transform: uppercase;
    max-width: 200px;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-left: 65px;
  }
}
