@import "../../index.scss";

.dialog-page {
  padding: 0 $site-padding;
  padding-top: 6vh;
  padding-bottom: 15vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/purple.jpg") 50% 0px repeat-y fixed;
  h1 {
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 12px;
    margin-left: 20px;
  }
  & > div {
    max-width: 610px;
    margin: auto;
    & > div {
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      padding: 24px 29px;
    }
  }
}
