@import "index.scss";

#navbar {
  padding: 30px 0;
  background: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $max-width;
    margin: auto;
    div a {
      color: $grey;
      margin: 0 45px;
      text-transform: uppercase;
    }
  }
  img {
    width: 210px;
  }
}

#categories, #events {
  display: flex;
  justify-content: space-between;
  max-width: $max-width;
  margin: auto;
  div {
    color: #ffffff;
    white-space: nowrap;
    text-transform: uppercase;
  }
}

@mixin divBackgroundsFromList($colors) {
  @for $i from 1 through length($colors) {
    a:nth-of-type(#{$i}) div {
      background: nth($colors, $i);
    }
  }  
}

#categories {
  margin-top: 78px;
  margin-bottom: 42px;
  div {
    width: 164px;
    height: 94px;
    padding: 21px 11px;
  }
  div, a {
    border-radius: 14px;
  } 
  @include divBackgroundsFromList((#1e911c, #76b600, #659908, #84ad37, #4bad4a, #76c275));
}

#events {
  margin-bottom: 54px;
  div {
    width: 245px;
    height: 132px;
    padding: 24px 14px;
  }
  div, a {
    border-radius: 21px;
  } 
  @include divBackgroundsFromList((#690d3e, #230414, #a34076, #bb7099));
}

.hr-container {
  max-width: $max-width;
  margin: auto;
}

.cta {
  max-width: $max-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  h3 {
    font-family: 'Padauk', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 29px;
    margin: 0;
  }
}

#video-container {
  display: flex;
  background: #e4e5e9;
  padding: 55px 0;
  div {
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  img {
    max-width: 500px;
    margin-bottom: 40px;
  }
}

footer {
  background: #3c3c3a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 0;
  & > div {
    max-width: $max-width;
  }
  #apps {
    a {
      margin: 0 10px;
    }
    img {
      width: 151px;
      border-radius: 6px;
    }
  }
  .largeInput {
    margin-bottom: 40px;
    margin-top: 56px;
  }
  p {
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 14px;
  }
  #venmo {
    margin-bottom: 8px;
    img {
      width: 106px;
    }
    p {
      margin: 0;
      margin-bottom: 7px;
    }
  }
  #social {
    display: flex;
    justify-content: center;
    a {
      $font-size: 27px;
      $width-height: $font-size * 1.555555;
      font-size: 27px;
      border: 2px solid white;
      border-radius: 100%;
      display: flex;
      width: $width-height;
      height: $width-height;
      margin: 0 10px;
      color: #ffffff;
      * {
        margin: auto;
      }
    }
  }
}

#subscribe {
  .dialog-page > div > div > div:not(#neo-input) {
    display: flex;
    width: 100%;
    #neo-input:first-of-type {
      margin-right: 16px;
    }
  }
  #neo-input {
    margin: 5px 0;
    width: 100%;
  }
  span {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 22px;
    input {
      margin-right: 12px;
    }
  }
  label {
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
}

#sports #content {
  display: flex;
  max-width: $max-width;
  margin: auto;
  padding: 60px 0;
  & > *:first-child {
    width: 100%;
    & > div:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & > div:first-child {
        margin-right: 20vw;
        a {
          background: linear-gradient(#aeb0af, #717372, #8d8b8c);
          color: #ffffff;
          font-family: 'Padauk', sans-serif;
          font-weight: 400;
          border-radius: 10px;
          padding: 3px 22px;
          font-size: 18px;
          box-shadow: 2px 3px 6px -2px #000000;
          margin-right: 14px;
          white-space: nowrap;
          //linear-gradient(#fbfbfb, #f9f9f9, #d5d5d5)
        }
      }
      & > div:last-child {
        display: flex;
        flex-direction: column;
        width: 100%;
        span {
          font-size: 18px;
          font-family: 'Padauk', sans-serif;
          font-weight: 400;
        }
        label {
          display: flex;
          justify-content: space-between;
          margin-bottom: 9px;
        }
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .rangeslider {
            height: 6px;
            position: relative;
            background: linear-gradient(#929292, #b3b3b3);
            width: 100%;
            touch-action: none;
            margin: 0 11px;
            &, .rangeslider__fill {
              @include box-shadow((inset 0px 0px 1px 0px #000000, 0px 0px 2px 0.5px #868686));
              border-radius: 20px;
            }
          }
          .rangeslider__fill {
            height: 100%;
            background-color: $red;
          }
          .rangeslider__handle {
            $width-height: 14px;
            left: 71px;
            width: $width-height;
            height: $width-height;
            border-radius: 100%;
            top: 50%;
            background: linear-gradient(#fbfbfb, #f9f9f9, #d5d5d5);
            position: absolute;
            cursor: pointer;
            transform: translate3d(-50%, -50%, 0);
            outline: none;
            @include box-shadow(0px 1px 3px -1px #000000);
          }
        }
        .rangeslider__handle-tooltip {
          display: none;
        }
      }
    }
    & > div:last-child {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      div {
        $color: #122c47;
        font-family: 'Padauk', sans-serif;
        font-weight: 700;
        color: $color;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid $color;
        padding: 8px 10px;
      }
    }
  }
  & > *:last-child {
    background: $grey;
    color: #ffffff;
    text-transform: uppercase;
    max-width: 200px;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-left: 65px;
  }
}
