@import "index.scss";

#navbar {
  $nav-menu-icon-width: 25px;
  $nav-menu-icon-margin: 45px;
  padding: 30px 0;
  background: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1;
  @include box-shadow(0px 0px 30px -3px #000000);
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $max-width;
    padding: 0 $site-padding;
    margin: auto;
    div {
      a {
        color: $grey;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 100px;
        @include interactive-transition;
        @include mobile {
          border-radius: 0;
          width: 100%;
        }
        &:hover, &.active {
          background: $grey;
          color: #ffffff;
          @include box-shadow($interactive-shadow);
          @include mobile {
            @include box-shadow(none);
          }
        }
        svg {
          $width-height: 50px;
          width: $width-height;
          height: $width-height;
          margin-left: 13px;
        }   
      }
    }
    & > a {
      z-index: 2;
    }
    & > div {
      @include mobile {
        position: fixed;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        transition: background 0.2s ease 0s;
        background: transparent;
        z-index: 2;
        pointer-events: none;
        &.open {
          background: rgba(0, 0, 0, 0.75);
          pointer-events: auto;
          & > div {
            right: 0;
          }
        }
      }
      & > div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        button {
          margin: 47.5px 0;
          margin-right: 17px;
        }
        span {
          margin-top: 3px;
          $transform-value: 3.2px;
          &:first-child {
            transform: rotate(45deg) translate($transform-value, $transform-value);
          }
          &:last-child {
            transform: rotate(-45deg) translate($transform-value, -$transform-value);
          }
        }
        @include mobile {
          $width: 214px;
          $box-shadow-blur: 39px;
          transition: right 0.5s ease 0s;
          background: #ffffff;
          display: flex;
          flex-direction: column;
          width: $width;
          height: 100vh;
          position: absolute;
          padding: 0 25px;
          @include box-shadow(0px -7px $box-shadow-blur 0px #000000);
          right: -$width - $box-shadow-blur;
          justify-content: flex-start;
          align-items: flex-end;
          padding: 0;
        }
        & > div {
          &:first-of-type {
            display: flex;
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            justify-content: center;
            z-index: 1;
            @include mobile {
              position: initial;
              flex-direction: column;
              width: initial;
              align-items: flex-end;
              width: 100%;
            }
            a {
              margin: 0 45px;
              @include mobile {
                margin: 0;
              }
            }
          } 
          &:last-of-type {
            margin-left: auto;
            z-index: 2;
            @include mobile {
              margin-top: auto;
              width: 100%;
            }
          }
        }
      }
    }
  }
  img {
    width: 210px;
    @include mobile {
      width: 143px;
    }
  }
  button {
    display: none;
    flex-direction: column;
    background: transparent;
    border: none;
    padding: 0;
    margin-left: $nav-menu-icon-margin;
    width: $nav-menu-icon-width;
    @include box-shadow(none);
    @include mobile {
      display: flex;
    }
    span {
      position: relative;
      display: block;
      height: 4px;
      border-radius: 20px;
      width: $nav-menu-icon-width;
      background-color: $grey;
      transition: all 0.2s ease 0s;
      margin: 2.5px 0;
    }
  }
}

#categories, #events {
  display: flex;
  max-width: $max-width;
  padding: 0 $site-padding;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  div {
    color: #ffffff;
    white-space: nowrap;
    text-transform: uppercase;
  }
}

@mixin cards($bottom-margin, $bottom-div-margin, $width, $height, $padding, $border-radius, $right-margin, $colors) {
  margin-bottom: $bottom-margin - $bottom-div-margin;
  div {
    min-width: $width;
    min-height: $height;
    padding: $padding;
    margin-bottom: $bottom-div-margin;
    @include interactive-transition;
    &:hover {
      @include box-shadow(3px 3px 12px -2px #000000);
    }
  }
  @media (max-width: 592px) {
    a {
      min-width: 100%;
      margin-right: 0 !important;
    }
  }
  div, a {
    border-radius: $border-radius;
  } 
  a {
    margin-right: $right-margin;
  }
  @for $i from 1 through length($colors) {
    a:nth-of-type(#{$i}) div {
      background: nth($colors, $i);
    }
  }  
}

#categories {
  margin-top: 58px;
  @include mobile {
    margin-top: 34px;
  }
  @include cards(
    42px,
    19px,
    164px,
    94px,
    (21px 11px),
    14px,
    13px,
    (#1e911c, #76b600, #659908, #84ad37, #4bad4a, #76c275)
  );
}

#events {
  @include cards(
    54px,
    19px,
    245px,
    132px,
    (24px 14px),
    21px,
    22px,
    (#690d3e, #230414, #a34076, #bb7099)  
  );
}

.hr-container {
  max-width: $max-width;
  padding: 0 $site-padding;
  margin: auto;
}

.cta {
  max-width: $max-width;
  padding: 0 $site-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  h3 {
    font-family: 'Padauk', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 29px;
    margin: 0;
  }
}

#video-container {
  display: flex;
  background: #e4e5e9;
  padding: 55px 0;
  div {
    max-width: $max-width;
    padding: 0 $site-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  video {
    margin-bottom: 40px;
    cursor: pointer;
    max-width: 100%;
  }
}

footer {
  $footer-background: $dark-grey;
  background: $footer-background;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 0;
  & > div {
    max-width: $max-width;
    padding: 0 $site-padding;
  }
  #apps {
    @include mobile {
      display: flex;
      flex-direction: column;
      a:first-child {
        margin-bottom: 15px;
      }
    }
    a {
      margin: 0 10px;
    }
    img {
      width: 151px;
      border-radius: 6px;
    }
  }
  .largeInput {
    margin-bottom: 40px;
    margin-top: 56px;
  }
  p {
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 14px;
  }
  #venmo {
    margin-bottom: 8px;
    img {
      width: 106px;
    }
    p {
      margin: 0;
      margin-bottom: 7px;
    }
  }
  #social {
    display: flex;
    justify-content: center;
    a {
      $font-size: 27px;
      $width-height: $font-size * 1.555555;
      $color: #ffffff;
      font-size: 27px;
      border: 2px solid $color;
      border-radius: 100%;
      display: flex;
      width: $width-height;
      height: $width-height;
      margin: 0 10px;
      color: $color;
      @include interactive-transition;
      * {
        margin: auto;
      }
      &:hover {
        background: $color;
        color: $footer-background;
      }
    }
  }
}

#subscribe {
  .dialog-page > div > div > div:not(#neo-input) {
    display: flex;
    width: 100%;
    @media (max-width: 565px) {
      flex-direction: column;
    }
    #neo-input:first-of-type {
      margin-right: 16px;
    }
  }
  #neo-input {
    margin: 5px 0;
    width: 100%;
  }
  span {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 22px;
    input {
      margin-right: 12px;
    }
  }
  label {
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
}

#cart {
  width: 100%;
  *:not(button) {
    font-family: 'Padauk', sans-serif !important;
    color: $dark-grey;
  }
  h3 {
    text-transform: uppercase;
    font-size: 27px;
    margin: 0;
    margin-bottom: 10px;
  }
  span {
    font-size: 21px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
  }
  & > div:not(:last-of-type) {
    width: 100%;
    border: 1px solid $dark-grey;
    border-width: 1px 0;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 10px;
    & > div {
      display: flex;
      flex-direction: column;
      &:first-of-type {
        & > span:first-of-type {
          text-transform: uppercase;
        }
      }
      &:last-of-type {
        align-items: flex-end;
        span {
          margin: auto;
        }
        a {
          cursor: pointer;
          svg {
            path {
              color: $grey;
              @include interactive-transition;
            }
            $width-height: 33px;
            width: $width-height;
            height: $width-height;
            &:hover {
              path {
                color: darken($grey, 7);
              }
            }
          }
        }
      }
    }
  }
  & > div:last-of-type {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 24px;
    }
    button {
      margin: 0 20px;
      @include mobile {
        margin: 0;
        &:first-of-type {
          margin-bottom: 19px;
        }
      }
    }
  }
}

select {
  $background: #d4d6d5;
  background: $background;
  font-size: 17px;
  margin-left: 11px;
  outline: 0;
  border: none;
  border-radius: 16px;
  font-size: 17px;
  padding: 1px 12px;
  cursor: pointer;
  @include box-shadow($interactive-shadow);
  @include interactive-transition;
  option {
    cursor: pointer;
  }
  &:hover {
    @include box-shadow($interactive-shadow-hover);
    background: darken($background, 6)
  }
}
