@import "index.scss";

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px $left-right-padding;
  background: #ffffff;
  position: fixed;
  width: 100%;
  img {
    width: 210px;
  }
  a {
    color: #636363;
    margin: 0 45px;
  }
}
