/* padauk-regular - latin */
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/padauk-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), local('Padauk-Regular'),
       url('./assets/fonts/padauk-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/padauk-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/padauk-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/padauk-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/padauk-v6-latin-regular.svg#Padauk') format('svg'); /* Legacy iOS */
}
/* padauk-700 - latin */
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/padauk-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local(' '), local('Padauk-Bold'),
       url('./assets/fonts/padauk-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/padauk-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/padauk-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/padauk-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/padauk-v6-latin-700.svg#Padauk') format('svg'); /* Legacy iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin box-shadow($value) {
	box-shadow: $value;
	-moz-box-shadow: $value;
  -webkit-box-shadow: $value;
}

@mixin mobile {
  @media (max-width: 1030px) {
    @content;
  }
}

@mixin interactive-transition {
  $transition: 0.15s ease 0s;
  transition: background $transition, color $transition, box-shadow $transition; 
}

@mixin darken-hover($background, $color, $darken-by) {
  background: darken($background, $darken-by);
  color: darken($color, $darken-by);
}

$site-padding: 30px;
$max-width: 1100px + $site-padding;

$red: #e53422;
$grey: #717372;
$dark-grey: #3c3c3a;

$interactive-white-shadow: 0px 0px 4px 2px #ffffff;
$interactive-shadow: ($interactive-white-shadow, 2px 2px 6px 1px #000000);
$interactive-shadow-hover: ($interactive-white-shadow, 4px 4px 6px 1px #000000);

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
}

button {
  $background: #558006;
  $color: #ffffff;
  white-space: nowrap;
  background: $background;
  border: none;
  color: $color;
  border-radius: 20px;
  padding: 9px 19px;
  font-size: 17px;
  outline: none;
  cursor: pointer;
  @include box-shadow($interactive-shadow);
  @include interactive-transition;
  &:hover {
    @include darken-hover($background, $color, 6);
    @include box-shadow($interactive-shadow-hover);
  }
}

.no-scroll {
  overflow: hidden;
}
