/* padauk-regular - latin */
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/padauk-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), local('Padauk-Regular'),
       url('./assets/fonts/padauk-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/padauk-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/padauk-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/padauk-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/padauk-v6-latin-regular.svg#Padauk') format('svg'); /* Legacy iOS */
}
/* padauk-700 - latin */
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/padauk-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local(' '), local('Padauk-Bold'),
       url('./assets/fonts/padauk-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/padauk-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/padauk-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/padauk-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/padauk-v6-latin-700.svg#Padauk') format('svg'); /* Legacy iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin box-shadow($value) {
	box-shadow: $value;
	-moz-box-shadow: $value;
  -webkit-box-shadow: $value;
}

//font-family: 'Padauk', sans-serif;  
//font-family: 'Montserrat', sans-serif;

$left-right-padding: 60px;

$red: #ff2f00;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
}

button {
  background: #558006;
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 9px 19px;
  font-size: 17px;
}
